extends ../layout

block content
  .bbs-forgot-password-wrapper.pb-2.mt-2.mb-4
    h3.bbs-forgot-password-title Forgot Password

    form.bbs-form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      p.bbs-instructions.pb-4 Enter your email address below and we will send you password reset instructions.

      .bbs-form-group.mb-3
        label.bbs-label(for='email') Email
        input.bbs-input(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)

      .bbs-form-group
        button.bbs-btn(type='submit')
          i.fas.fa-key.fa-sm
          | Reset Password
