doctype html
html
  head
    title Event Builder Dashboard
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='css/ie/html5shiv.js')
    script(src='js/jquery.min.js')
    script(src='js/skel.min.js')
    script(src='js/init.js')
    script(src='js/bootstrap.min.js')
    noscript
      link(rel='stylesheet', href='css/skel.css')
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='css/style-desktop.css')
      link(rel='stylesheet', href='css/style-noscript.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
  body
    #wrapper
      nav#nav
        a.icon.fa-home.active(href='#login')
          span Home
      // Main
      #main
        .panel.panel-danger
          article
            .panel-title
              h2 Sign In
            .panel-body
              form(method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .col-sm-8.col-sm-offset-2
                  .form-group
                    label(for='email') Email
                    input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
                  .form-group
                    label.control-label(for='password') Password
                    input.form-control(type='password', name='password', id='password', placeholder='Password')
                  .form-group
                    button.btn.btn-primary(type='submit')
                      span.ion-android-hand
                      | Login
                    a.btn.btn-link(href='/forgot') Forgot your password?
                  hr
                  a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
                    i.fa.fa-google-plus
                    | Sign in with Google