extends ../layout

block content
  .page-header
    h3 Sign in
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      .form-group
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
      .form-group
        label.control-label(for='password') Password
        input.form-control(type='password', name='password', id='password', placeholder='Password')
      .form-group
        button.btn.btn-primary(type='submit')
          span.ion-android-hand
          | Login
        a.btn.btn-link(href='/forgot') Forgot your password?
      hr
      a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
        i.fa.fa-google-plus
        | Sign in with Google
