extends ../layout

block content
  .container.py-4
    .pb-2.mt-2.mb-4.border-bottom
      h3.fw-normal Reset Password
    main.form-signin 
      form(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-floating
          input.form-control(type='password', name='password', id='password', placeholder='New password', autofocus, autocomplete='new-password', minlength='8', required)
          label(for='password') New Password
        .form-floating
          input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirm password', autocomplete='new-password', minlength='8', required)
          label(for='confirm') Confirm Password
        .form-group
            .offset-md-3.col-md-7.pl-2
            |  &nbsp;
        button.w-100.btn.btn-lg.btn-secondary(type="submit")
          i.far.fa-keyboard.fa-sm
          | &nbsp;Change Password
