extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Reset Password
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row.mb-4
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') New Password
      .col-md-7
        input#password.form-control(type='password', name='password', placeholder='New password', autofocus, autocomplete='new-password', minlength='8', required)
    .form-group.row.mb-4
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirm') Confirm Password
      .col-md-7
        input#confirm.form-control(type='password', name='confirm', placeholder='Confirm password', autocomplete='new-password', minlength='8', required)
    .form-group.row
      .col-md-3
      .col-md-7
        button.btn.btn-primary.btn-reset(type='submit')
          i.far.fa-keyboard.fa-sm.mr-2.iconpadding
          | Change Password
