extends ../layout

block css
    link(rel='stylesheet', href='/css/lib/strengthify.css')

block content
    .login-container.container
        .panel
            .panel-body
                form(method='POST')
                    legend Create an account
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                        label(for='email') Email
                        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
                    .form-group
                        label(for='password') Password
                        input.form-control(class='password-field',type='password', name='password', id='password', placeholder='Password', required)
                    .form-group
                        label(for='confirmPassword') Confirm Password
                        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
                    .form-group
                        .g-recaptcha(data-sitekey="Your-Sitekey")
                    .form-group
                        small.text-muted By signing up, you agree to the <a href="/">Terms of Service</a>.
                    button.btn.btn-success(type='submit')
                        i.fa.fa-user-plus
                        |  Create Account
        p.text-center Already have an account?&nbsp;
            a(href='/login')
                strong Log in

    block scripts
        script(src='/js/lib/jquery.strengthify.js')
        script(src='/js/lib/pass-meter.js')
        script(src='https://www.google.com/recaptcha/api.js')
