extends ../layout

block content
  .container.py-4
    .pb-2.mt-2.mb-4.border-bottom
      h3.fw-normal Sign up
    main.form-signin 
      include ../partials/flash
      //- form(action="/auth/airtable", method="get") 
      //-   button.w-100.btn.btn-lg.bg-white.border.shadow(type="submit")
      //-     | &nbsp;Sign up with&nbsp;
      //-     img(src="/airtable-logo-150.png", alt="airtable logo", width="100", height="27")
      //- p.mt-3.text-center or
      form(id='signup-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-floating
          input#email.form-control(type='email' name='email' placeholder='Email address' autofocus autocomplete='email' required)
          label(for='email') Email
        .form-floating
          input#password.form-control(type='password' name='password' placeholder='Password' autocomplete='new-password' minlength='8' required)
          label(for='password') Password
        .form-floating
          input#confirmPassword.form-control(type='password' name='confirmPassword' placeholder='Confirm Password' autocomplete='new-password' minlength='8' required)
          label(for='confirmPassword') Confirm Password
        .form-group
          .offset-md-3.col-md-7.pl-2
          |  &nbsp;
        button.w-100.btn.btn-lg.btn-secondary(type="submit")
          i.fas.fa-user-plus.fa-sm
          | &nbsp;Sign up
        center
          a.btn.btn-link(href='/login') Already have an account?
