footer
  .container.text-center
    p.pull-left © 2016 Team 6@CodeGS, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/sahat/hackathon-starter') 
      li
        a(href='https://github.com/sahat/hackathon-starter/issues') 
