footer.mt-auto.py-3.bg-light
  .container.d-flex.justify-content-between
    span © 2023 Company, Inc. All Rights Reserved
    ul.mb-0
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues
      li.list-inline-item
        a(href='/privacy-policy.html') Privacy Policy
      li.list-inline-item
        a(href='/terms-of-use.html') Terms of Use