#footer
  .container.text-center
    div
      | © 2014 Company, Inc.
    div
      strong Hackathon Starter
      =t('footer.project')
      |  ·
      =t('footer.createdBy')
      a(href='http://sahatyalkabov.com')  Sahat Yalkabov
    div
      =t('footer.licence')
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/sahat/hackathon-starter')=t('footer.githubProject')
      |  ·
      a(href='https://github.com/sahat/hackathon-starter/issues')=t('footer.issues')
