mixin setup_link(name, link)
  li: a(href="#{name}") #{link}

#footer
  ul.list-inline.pull-left
    li © 2014 #{app_settings.company_name}
    each val, key in app_settings.footer_links
      +setup_link(val, key)
  ul.list-inline.pull-right

