#footer
  .container.text-center
    div
      | © 2014 Company, Inc.
    div
      strong CodeSHare
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/anas-ambri/mchacks-backend') GitHub Project
    div. Created by
    div 
      a(href='https://github.com/GabrielGhe') Gabriel Gheorghian
      |  - 
      a(href='https://github.com/anas-ambri') Anas Ambri
      |  - 
      a(href='https://github.com/nicnhus22') Nicholas Husser
