
.navbar.navbar-expand-lg.navbar-light.navbar-default
  .container
    a.navbar-brand(href='/')
      i.fas.fa-cube
      | Project name
    button.navbar-toggler(data-toggle='collapse', data-target='#navbar')
      span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item(class=(title === 'Home') ? 'active' : undefined)
            a.nav-link(href='/') Home
          li.nav-item(class=(title === 'API Examples') ? 'active' : undefined)
            a.nav-link(href='/api') API Examples
          li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
            a.nav-link(href='/contact') Contact
          li.nav-item
            a.nav-link(href='/status') Status
        ul.nav.navbar-nav.navbar-right
          if !user
            li.nav-item(class=(title === 'Login') ? 'active' : undefined)
              a.nav-link(href='/login') Login
            li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
              a.nav-link(href='/signup') Create Account
          else
            li.nav-item.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
              a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
                if user.profile.picture
                  img(src=user.profile.picture)
                else
                  img(src=user.gravatar(60))
                span= user.profile.name || user.email || user.id
                i.caret
              ul.dropdown-menu
                li.dropdown-item
                  a(href='/account') My Account
                li.divider
                li.dropdown-item
                  a(href='/logout') Logout
