{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": 0,
    "consistent-return": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-shadow": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}