{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "consistent-return": 0,
    "max-len": 0,
    "new-cap": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0
  }
}
