language: node_js

node_js:
  - "14"

services: mongodb  

cache:  
  directories:
    - "node_modules"

install:
  - npm install

script:
  - npm test

# safelist
branches:
  only:
  - main
  - docker
