<h3>App Status</h3>

<div class="form-group col-lg-12 col-sm-6">
    <uib-tabset>
        <uib-tab heading="Your Campaigns">
            <div ng-show="user.campaignIds.length < 1">
                <p class="alert alert-info">Getting started by creating your first campaign.&nbsp;&nbsp;<a href="#/createCampaign" class="btn btn-success" >Post your Campaign</a>
                </p>
            </div>
            <div ng-show="user.campaignIds.length > 0">
                <div class="row">
                    <h3 class="page-header">Your Campaigns</h3><p >Click to see applications</p>
                    <div ng-repeat="campaign in campaigns" class="campaign-item col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4 class="media-heading">{{campaign.topic}}</h4>

                                <a href ng-click="showCampaignStatus(campaign.campaignId)">
                                    <img class="media-object profile-pic" ng-src="{{campaign.thumbnail}}" alt="{{campaign.user.userId}}"/>
                                </a>
                                <p class="desc-text">{{campaign.details}}</p>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge">{{campaign.numberOfFollowers}}</span>
                                        <span>Minimum Followers</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">{{campaign.minAge}}-{{campaign.maxAge}}</span>
                                        Ages
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 ng-show="selectedCampaign.applications.length > 0" class="page-header">Applications</h3>
                <div class="well clearfix" ng-repeat="apply in selectedCampaign.applications">
                    <div><label>From User Id:&nbsp;</label>{{apply.userId}}</div>
                    <div><label>Reasons:&nbsp;</label>{{apply.reason}}</div>
                    <div><label>Proposed Post Content:&nbsp;</label>{{apply.message}}</div>
                    <div ng-show="apply.status=='pending'">
                        <label>Pick a Date and Time to post:&nbsp;</label>
                        <p class="input-group col-md-3">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-init="apply.isCalendarOpened=false" ng-model="apply.date" ng-init="apply.date=''" is-open="apply.isCalendarOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true"  alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="apply.isCalendarOpened = !apply.isCalendarOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <uib-timepicker ng-model="apply.time" ng-init="apply.time = ''"></uib-timepicker>
                    </div>
                    <div ng-show="apply.status=='accepted' || apply.status=='completed'"><label>Scheduled post time:</label>&nbsp;{{apply.actionTime}}</div>
                    <a ng-show="apply.status=='pending'" class="btn btn-primary pull-right" ng-click="acceptApply(apply)" >Accept</a>
                    <a ng-show="apply.status=='accepted'" class="btn btn-success pull-right" disabled>Accepted</a>
                </div>
            </div>
        </uib-tab>



    <!--Applications Tab-->
        <uib-tab heading="Your Applications">
            <div ng-show="myApplications.length < 1">
                <p class="alert alert-info">You haven't applied to any campaign yet.&nbsp;&nbsp;<a href="#/campaign" class="btn btn-success" >See Campaigns</a></p>
            </div>
            <div ng-show="myApplications.length > 0">
                <div class="row">
                    <h3 class="page-header">Your Applications</h3><p >Click to see applications</p>
                    <div ng-repeat="campaign in appliedCampaigns" class="campaign-item col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4 class="media-heading">{{campaign.topic}}</h4>

                                <a ng-href="#/campaignDetails?id={{campaign.campaignId}}">
                                    <img class="media-object profile-pic" ng-src="{{campaign.thumbnail}}" alt="{{campaign.user.userId}}"/>
                                </a>
                                <p class="desc-text">{{campaign.details}}</p>
                                <ul ng-show="campaign.status != 'accepted'" class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge">{{campaign.numberOfFollowers}}</span>
                                        <span>Minimum Followers</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">{{campaign.minAge}}-{{campaign.maxAge}}</span>
                                        Ages
                                    </li>
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-class="{'list-group-item-warning': campaign.status=='pending', 'list-group-item-success': campaign.status=='accepted', 'list-group-item-danger': campaign.status=='rejected'}">{{campaign.status}}</li>
                                </ul>
                                <div ng-show="campaign.status == 'accepted'">
                                <label>Time to post:&nbsp;{{campaign.application.actionTime | date:'medium'}}</label><button class="btn btn-primary" ng-click="confirmPostTime(campaign)">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

</div>