<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{campaign.topic}}
            </h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" ng-src="{{campaign.thumbnail}}" alt="">
        </div>

        <div class="col-md-4">
            <img class="avatar-img" ng-src="{{ownerPic}}"/><span>&nbsp;&nbsp;&nbsp;&nbsp;{{ownerName}}</span>
            <h3>Campaign Description</h3>
            <p>{{campaign.details}}</p>
            <h3>Requirement Details</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{campaign.numberOfFollowers}}</span>
                    <span>Minimum Followers</span>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{campaign.minAge}}-{{campaign.maxAge}}</span>
                    Ages
                </li>
            </ul>
            <hr/>
            <a ng-show="!showAppForm && campaign.status == 'pending'" class="btn btn-primary" ng-click="showAppForm = true;">Apply Now !</a>
            <a ng-show="submittedForm" class="btn btn-info" disabled>Applied</a>
            <a ng-show="!showAppForm || submittedForm" class="btn btn-warning" href="#/campaign">Go Back</a>

        </div>

    </div>
    <div ng-show="showAppForm && !submittedForm">
    <div class="row">
        <h3 class="page-header">Apply for this Campaign</h3>
    </div>
        <div class="row" >
            <form role="form">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label for="reasonsInput">Your qualifications</label>
                        <div class="input-group col-lg-10">
                            <textarea type="text" ng-model="appForm.reason" class="form-control input" name="reasonsInput" id="reasonsInput" placeholder="Enter reasons for the campaign owner to choose you." required/>
                        </div>
                        <label for="contentInput">Proposed post content</label>
                        <div class="input-group col-lg-10">
                            <textarea type="text" ng-model="appForm.message" ng-init="appForm.message=''" class="form-control input" name="contentInput" id="contentInput" placeholder="Propose the content of the post" required/>
                        </div>
                        <label ng-show="pageList.length > 0" for="pageSelect">Page to post</label>
                        <div ng-show="pageList.length > 0" class="input-group col-lg-10">
                            <select id="pageSelect" ng-model="appForm.pageId" ng-options="page.id as page.name for page in pageList">
                                <!--<option ng-repeat="page in pageList"  ng-selected="appForm.pageId == page.id" ng-value="page.id">{{page.name}}</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-6">Pick a campaign to trade</label>
                    </div>
                    <div>
                        <div ng-repeat="campaign in myCampaigns" class="campaign-item col-md-4 col-sm-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4 class="media-heading">{{campaign.topic}}</h4>
                                    <a>
                                        <img class="media-object profile-pic" ng-src="{{campaign.thumbnail}}" alt="{{campaign.user.userId}}"/>
                                    </a>
                                    <p class="desc-text">{{campaign.details}}</p>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="badge">{{campaign.numberOfFollowers}}</span>
                                            <span>Minimum Followers</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">{{campaign.minAge}}-{{campaign.maxAge}}</span>
                                            Ages
                                        </li>
                                    </ul>
                                    <p>
                                        <div class="checkbox">
                                            <label>
                                                <input type="radio" ng-model="appForm.tradeCampaign" value="{{campaign.campaignId}}">&nbsp;Select
                                            </label>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="myCampaigns.length < 1"><p class="alert alert-info">You do not have any campaigns to trade.</p></div>
                    </div>
                </div>
                <a class="btn btn-primary" ng-click="submitAppForm()" >Apply</a>
                <a class="btn btn-warning" href="#/campaign">Go Back</a>
            </form>
        </div>
    </div>
    <!--<div class="row">-->

        <!--<div class="col-lg-12">-->
            <!--<h3 class="page-header">Similar Campaigns</h3>-->
        <!--</div>-->

        <!--<div class="col-sm-3 col-xs-6">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="col-sm-3 col-xs-6">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="col-sm-3 col-xs-6">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="col-sm-3 col-xs-6">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">-->
            <!--</a>-->
        <!--</div>-->

    <!--</div>-->
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>