<div class="page-header">
    <h3>Sign up</h3>
</div>
<form id="signup-form" method="POST" class="form-horizontal">
    <input type="hidden" name="_csrf"/>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-7">
            <input ng-model="account.email" type="email" name="email" id="email" placeholder="Email" autofocus="autofocus" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-7">
            <input ng-model="account.password" type="password" name="password" id="password" placeholder="Password" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
        <div class="col-sm-7">
            <input ng-model="account.confirmPassword" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <button ng-click="submit()" type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i>Signup</button>
            <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
        </div>
    </div>
</form>