extends layout

block content
  .page-header
    h3 Upload a document

  form.form-horizontal( method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='name') Select a file (word, pdf, doc)
      .col-sm-5
        input.form-control(type='file', name='file', id='file', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='due_date') Due Date
      .col-sm-5
        input.form-control(type='date', name='due_date', id='due_date')
    .form-group
      label(class='col-sm-2 control-label', for='budget') Budget
      .col-sm-5
        input.form-control(type='number', name='budget', id='budget', autofocus=true)
    .form-group
      .col-sm-offset-2.col-sm-5.control-label
        button.btn.btn-primary(type='submit' style={
        'background-color': '#1abc9c',
        'width': '100%',
        'border-color' : '#1abc9c'
        })
          | Send
