extends layout

block head
  script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')

block content
  .container.mt-5
    .row.justify-content-center
      .col-lg-8
        .card.shadow-lg.border-0.rounded-lg.mt-5
          .card-header
            h3.text-center.font-weight-light.my-4 Contact Us
          .card-body
            form(method='POST', class='animate__animated animate__fadeIn')
              input(type='hidden', name='_csrf', value=_csrf)

              if (unknownUser)
                .form-row
                  .form-group.col-md-6
                    label(for='name') Full Name
                    input.form-control(type='text', name='name', id='name', placeholder='Enter your name', autocomplete='name', required)

                  .form-group.col-md-6
                    label(for='email') Email Address
                    input.form-control(type='email', name='email', id='email', placeholder='Enter your email address', autocomplete='email', required)

              .form-group
                label(for='message') Message
                textarea.form-control(name='message', id='message', rows='7', placeholder='Type your message here...', autofocus=(!unknownUser).toString(), required)

              .form-group
                .d-flex.align-items-center.justify-content-between.mt-4.mb-0
                  .g-recaptcha(data-sitekey=sitekey)
                  button.btn.btn-primary(type='submit')
                    i.far.fa-envelope.fa-sm
                    |  Send Message

  script(src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous')
