extends layout

block content
  .container.py-4
    //- we create a dashboard to show the user's automations and use bootstrap to style it like AdminLTE
    main
      include partials/flash
      //- Add 4 metrics rounded cards
      .container
        .row
          .col-lg-3.col-6
            .card.bg-info
              .card-body
                h5.card-title Saved Automations
                p.card-text= automations ? automations.length : 0
                a.btn.btn-primary(href='/automations') View
          .col-lg-3.col-6
            .card.bg-success
              .card-body
                h5.card-title Devices
                p.card-text= devices ? devices.length : 0
                a.btn.btn-primary(href='/devices') View
          .col-lg-3.col-6
            .card.bg-warning
              .card-body
                h5.card-title Users
                p.card-text= users ? users.length : 0
                a.btn.btn-primary(href='/users') View
          .col-lg-3.col-6
            .card.bg-danger
              .card-body
                h5.card-title Logs
                p.card-text= logs ? logs.length : 0
                a.btn.btn-primary(href='/logs') View