doctype html
html
  head
    title Event Builder Dashboard
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    script(src='js/jquery.min.js')
    script(src='js/skel.min.js')
    script(src='js/init.js')
    script(src="https://apis.google.com/js/client.js?onload=OnLoadCallback")
    script(src='js/main.js')
    noscript
      link(rel='stylesheet', href='css/skel.css')
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='css/style-desktop.css')
      link(rel='stylesheet', href='css/style-noscript.css')
  body
    // Wrapper
    #wrapper
      // Nav 
      nav#nav
        a.icon.fa-home.active(href='#me')
          span Home
        a.icon.fa-plus-circle(href='#event')
          span Plan
        a.icon.fa-envelope(href='#contact')
          span Contact
        a.icon.fa-power-off(href='/logout')
          span Logout
      // Main 
      #main
        // Home 
        article#me.panel
          header
            h1 Event Builder
            p Scheduling events the easy way
          a.jumplink.pic(href='#event')
            span.arrow.icon.fa-chevron-right
              span Make an Event
            img(src='images/me.jpg', alt='')
        // New Event
        article#event.panel
          #eventRight
            header
              h2 Create a New Event
                form(action='/new_event', method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  div
                    .row
                      .12u
                        input(type='text', name='title', placeholder='Name')
                    .row
                      .4u
                        input(type='text',name="lengthHours",placeholder='0 hours')
                      .8u
                        input(type='range', name='length', min='0',max='55',step='5', value='0',placeholder='Duration (mins)',
                          onchange="showValue(this.value)")
                        span(id="range", style='font-size: 15px') 0 minutes
                        
                    .row
                      .12u
                        input(type='text', name='day', placeholder='Day? (YYYY-MM-DD)')
                    .row
                      .12u
                        textarea(name='description', placeholder='Describe your Event (optional)', rows='3')
                    .row
                      .12u
                        input(type='text', name='users', placeholder='Invite users via e-mail (separated by commas)')
                    //- .row
                    //-   .12u
                    //-     input(type='submit', value='Create Event!')
                    .row
                      .12u
                        a.jumplink.pic(href='#contact')
                          span.arrow.icon.fa-chevron-right
                            span Make an Event
          //- #eventLeft
            //- img(src='http://s29.postimg.org/5bloio61z/Daniel_Pic.png')
        // Contact 
        article#contact.panel
          //- header
          //-   h2 Contact Me
          //- form(action='#event', method='post')
          //-   div
          //-     .row
          //-       .6u
          //-         input(type='text', name='name', placeholder='Name')
          //-       .6u
          //-         input(type='text', name='email', placeholder='Email')
          //-     .row
          //-       .12u
          //-         input(type='text', name='subject', placeholder='Subject')
          //-     .row
          //-       .12u
          //-         textarea(name='message', placeholder='Message', rows='8')
          //-     .row
          //-       .12u
          //-         input(type='submit', value='Send Message')
          #eventLeft
            img(src='http://s29.postimg.org/5bloio61z/Daniel_Pic.png')
          #eventRight
            h4.
              'third board meeting' should be scheduled in one of these possible time slots
      #footer
        ul.copyright
          li © Untitled.
          li
            | Design:
            a(href='http://html5up.net') HTML5 UP
