doctype html
html
  head
    title Event Builder Dashboard
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='css/ie/html5shiv.js')
    script(src='js/jquery.min.js')
    script(src='js/skel.min.js')
    script(src='js/init.js')
    script(src="https://apis.google.com/js/client.js?onload=OnLoadCallback")
    noscript
      link(rel='stylesheet', href='css/skel.css')
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='css/style-desktop.css')
      link(rel='stylesheet', href='css/style-noscript.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
  body
    //
       Wrapper
    #wrapper
      //
         Nav 
      nav#nav
        a.icon.fa-home.active(href='#me')
          span Home
        a.icon.fa-plus-circle(href='#event')
          span Plan
        a.icon.fa-envelope(href='#contact')
          span Contact
        a.icon.fa-power-off(href='/logout')
          span Logout
      //
         Main 
      #main
        //
           Me 
        article#me.panel
          header
            h1 Event Builder
            p Scheduling events the easy way
          a.jumplink.pic(href='#event')
            span.arrow.icon.fa-chevron-right
              span Make an Event
            img(src='images/me.jpg', alt='')
        article#event.panel
          header
            h2 Create a New Event
              form(action='/new_event', method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                div
                  .row
                    .12u
                      input(type='text', name='title', placeholder='Name')
                  .row
                    .4u
                      input(type='text', name='length', placeholder='Length of Event')
                    .4u
                      input(type='text', name='location', placeholder='Location')
                    .4u
                      input(type='text', name='day', placeholder='Preferred Date (YYYY-MM-DD)')
                  .row
                    .12u
                      textarea(name='description', placeholder='Describe your Event', rows='8')
                  .row
                    .12u
                      input(type='text', name='users', placeholder='Invite users via e-mail (separated by commas)')
                  .row
                    .12u
                      input(type='submit', value='Create Event!')
        script.
			var apiKey = 'AIzaSyAdjHPT5Pb7Nu56WJ_nlrMGOAgUAtKjiPM';

	    	var scopes = 'https://www.googleapis.com/auth/plus.me';

		    function handleClientLoad() {
		      gapi.client.setApiKey(apiKey);
		      window.setTimeout(checkAuth,1);
		    }

		    function checkAuth() {
		      gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: true}, handleAuthResult);
		    }

		    function handleAuthResult(authResult) {
		      var authorizeButton = document.getElementById('authorize-button');
		      if (authResult && !authResult.error) {
		        authorizeButton.style.visibility = 'hidden';
		        makeApiCall();
		      } else {
		        authorizeButton.style.visibility = '';
		        authorizeButton.onclick = handleAuthClick;
		      }
		    }

		    function handleAuthClick(event) {
		      gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
		      return false;
		    }

		    function makeApiCall() {
		      gapi.client.load('calendar', 'v3').then(function() {
		        var request = gapi.client.calendar.Freebusy.query(check, function(response){
		          'userId': 'me'
		        });
		        request.then(function(resp) {
		          var heading = document.createElement('h4');
		          var image = document.createElement('img');
		          image.src = resp.result.image.url;
		          heading.appendChild(image);
		          heading.appendChild(document.createTextNode(resp.result.displayName));

		          document.getElementById('content').appendChild(heading);
		        }, function(reason) {
		          console.log('Error: ' + reason.result.error.message);
		        });
		      });
		    }
			var clientId='';
			var 
			var init = function() {
				gapi.client.setApiKey('AIzaSyAEdMh0MJBgNuW4S8J4Q7Uss1uYr-dEe5w');
				gapi.client.load('urlshortener', 'v1').then(makeRequest);
				gapi.server.load('calendar', 'v3', function(){
					var request = gapi.client.calendar.events
					});
				response = gotTheReponse();
			}

			busyTimes = response[busy];



			for each (var range in busyTimes) {
				
			}

        //
           Contact 
        article#contact.panel
          header
            h2 Contact Me
          form(action='#event', method='post')
            div
              .row
                .6u
                  input(type='text', name='name', placeholder='Name')
                .6u
                  input(type='text', name='email', placeholder='Email')
              .row
                .12u
                  input(type='text', name='subject', placeholder='Subject')
              .row
                .12u
                  textarea(name='message', placeholder='Message', rows='8')
              .row
                .12u
                  input(type='submit', value='Send Message')
      //
         Footer 
      #footer
        ul.copyright
          li © Untitled.
          li
            | Design:
            a(href='http://html5up.net') HTML5 UP
