doctype html
html
  head
    meta(charset='utf-8')
    title Public Phone Docs - Open Source Communication
    link(rel='stylesheet', href='/css/bbs-theme.css')
    // Other head elements

  body
    header.bbs-header
      h1 Public Phone Documentation

    nav.bbs-nav
      // Navigation items

    main.bbs-main
      section.bbs-docs
        h2 Getting Started
        p Welcome to the Public Phone documentation. This open source platform is designed for easy and free communication for everyone.
        // Additional sections and content

      aside.bbs-aside
        // Sidebar content like quick links or important notices

    footer.bbs-footer
      // Footer content

    // Scripts
