extends layout

block content
  h1 Public Phone
  p.lead The open-source and free-to-use communications platform for the general public.
  hr
  .row
    .col-md-6
      h2 Public Phone
      p Hello. 
      p
        a.btn.btn-primary(href='Documentation.pug', role='button') View details »
    .col-md-6
      h2 Public Phone
      p Hello. 
      p
        a.btn.btn-primary(href='#', role='button') View details »
    .col-md-6
      h2 Public Phone
      p Hello. 
      p
        a.btn.btn-primary(href='#', role='button') View details »
    .col-md-6
      h2 Public Phone
      p Hello. 
      p
        a.btn.btn-primary(href='#', role='button') View details »