doctype html
html
head
    title Escape Velocity by HTML5 UP
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='css/ie/html5shiv.js')
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-layers.min.js')
    script(src='js/init.js')
    noscript
      link(rel='stylesheet', href='css/skel.css')
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='css/style-desktop.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
  body.homepage
    //
       Header 
    #header-wrapper.wrapper
      #header
        //
           Logo 
        #logo
          h1
            a(href='index.html') Escape Velocity
          p A free responsive site template by HTML5 UP
        //
           Nav 
        nav#nav
          ul
            li.current
              a(href='index.html') Home
            li
              a(href='') Dropdown
              ul
                li
                  a(href='#') Lorem ipsum
                li
                  a(href='#') Magna veroeros
                li
                  a(href='#') Etiam nisl
                li
                  a(href='') Sed consequat
                  ul
                    li
                      a(href='#') Lorem dolor
                    li
                      a(href='#') Amet consequat
                    li
                      a(href='#') Magna phasellus
                    li
                      a(href='#') Etiam nisl
                    li
                      a(href='#') Sed feugiat
                li
                  a(href='#') Nisl tempus
            li
              a(href='left-sidebar.html') Left Sidebar
            li
              a(href='right-sidebar.html') Right Sidebar
            li
              a(href='no-sidebar.html') No Sidebar
    //
       Intro 
    #intro-wrapper.wrapper.style1
      .title The Introduction
      section#intro.container
        p.style1 So in case you were wondering what this is all about ...
        p.style2
          | Escape Velocity is a free responsive
          br.mobile-hide
          | site template by
          a.nobr(href='http://html5up.net') HTML5 UP
        p.style3
          | It's
          strong responsive
          | , built on
          strong HTML5
          | and
          strong CSS3
          | , and released for
          | free under the
          a(href='http://html5up.net/license') Creative Commons Attribution 3.0 license
          | , so use it for any of
          | your personal or commercial projects – just be sure to credit us!
        ul.actions
          li
            a.button.style3.big(href='#') Proceed
    //
       Main 
    .wrapper.style2
      .title The Details
      #main.container
        //
           Image 
        a.image.featured(href='#')
          img(src='images/pic01.jpg', alt='')
        //
           Features 
        section#features
          header.style1
            h2 Dolor consequat feugiat amet veroeros
            p Feugiat dolor nullam orci pretium phasellus justo
          .feature-list
            .row
              .6u
                section
                  h3.icon.fa-comment Mattis velit diam vulputate
                  p
                    | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
              .6u
                section
                  h3.icon.fa-refresh Lorem ipsum dolor sit veroeros
                  p
                    | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
            .row
              .6u
                section
                  h3.icon.fa-picture-o Pretium phasellus justo lorem
                  p
                    | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
              .6u
                section
                  h3.icon.fa-cog Tempus sed pretium orci
                  p
                    | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
            .row
              .6u
                section
                  h3.icon.fa-wrench Aliquam consequat et feugiat
                  p
                    | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
              .6u
                section
                  h3.icon.fa-check Dolore laoreet aliquam mattis
                  p
                    | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
          ul.actions.actions-centered
            li
              a.button.style1.big(href='#') Get Started
            li
              a.button.style2.big(href='#') More Info
    //
       Highlights 
    .wrapper.style3
      .title The Endorsements
      #highlights.container
        .row.oneandhalf
          .4u
            section.highlight
              a.image.featured(href='#')
                img(src='images/pic02.jpg', alt='')
              h3
                a(href='#') Aliquam diam consequat
              p
                | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
              ul.actions
                li
                  a.button.style1(href='#') Learn More
          .4u
            section.highlight
              a.image.featured(href='#')
                img(src='images/pic03.jpg', alt='')
              h3
                a(href='#') Nisl adipiscing sed lorem
              p
                | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
              ul.actions
                li
                  a.button.style1(href='#') Learn More
          .4u
            section.highlight
              a.image.featured(href='#')
                img(src='images/pic04.jpg', alt='')
              h3
                a(href='#') Mattis tempus lorem
              p
                | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
              ul.actions
                li
                  a.button.style1(href='#') Learn More
    //
       Footer 
    #footer-wrapper.wrapper
      .title The Rest Of It
      #footer.container
        header.style1
          h2 Ipsum sapien elementum portitor?
          p
            | Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
            br
            | Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.
        hr
        .row.oneandhalf
          .6u
            //
               Contact Form 
            section
              form(method='post', action='#')
                .row.half
                  .6u
                    input#contact-name(type='text', name='name', placeholder='Name')
                  .6u
                    input#contact-email(type='text', name='email', placeholder='Email')
                .row.half
                  .12u
                    textarea#contact-message(name='message', placeholder='Message', rows='4')
                .row
                  .12u
                    ul.actions
                      li
                        input.style1(type='submit', value='Send')
                      li
                        input.style2(type='reset', value='Reset')
          .6u
            //
               Contact 
            section.feature-list.small
              .row
                .6u
                  section
                    h3.icon.fa-home Mailing Address
                    p
                      | Untitled Corporation
                      br
                      | 1234 Somewhere Rd #987
                      br
                      | Nashville, TN 00000-0000
                .6u
                  section
                    h3.icon.fa-comment Social
                    p
                      a(href='#') @untitled-corp
                      br
                      a(href='#') linkedin.com/untitled
                      br
                      a(href='#') facebook.com/untitled
              .row
                .6u
                  section
                    h3.icon.fa-envelope Email
                    p
                      a(href='#') info@untitled.tld
                .6u
                  section
                    h3.icon.fa-phone Phone
                    p
                      | (000) 555-0000
        hr
      #copyright
        ul
          li © Untitled
          li
            | Design:
            a(href='http://html5up.net') HTML5 UP
