extends layout

block content
  h1 Hackathon Starter
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-md-6
      h2 Plants
      p See the plants in the wildmile
      p
        a.btn.btn-raised(href='/plants', role='button') View details »
    .col-md-6
      h2 Add and Delete plants
      p Use this page to add and edit plants which can be used in the Wild Mile
      p
        a.btn.btn-raised(href='/plantsadmin', role='button') View details »
    .col-md-6
      h2 Add and edit Modules
      p Use this page to add and edit the modules and plants
      p
        a.btn.btn-raised(href='/module', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
  .row
    #modmap.col-lg-10
    for mod in mods
      console.log(mod.x)
      script.
        draw_map(mod.x,mod.y);
      
  
