extends layout
block head
  //- Opengraph tags
  meta(property='og:title', content='Hackathon Starter')
  meta(property='og:description', content='A boilerplate for Node.js web applications.')
  meta(property='og:type', content='website')
  meta(property='og:url', content=siteURL)
  meta(property='og:image', content=`${siteURL}/bootstrap-logo.svg`)
  //- Twitter Card tags (optional but recommended)
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:title', content='Hackathon Starter')
  meta(name='twitter:description', content='A boilerplate for Node.js web applications.')
  meta(name='twitter:image', content=`${siteURL}/bootstrap-logo.svg`)

block content
  h1 Hackathon Starter
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-primary(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-primary(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-primary(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-primary(href='#', role='button') View details »
