extends layout

block content
  //- main
    //- include partials/flash
  .position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light
    .col-md-5.p-lg-5.mx-auto.my-5
      h1.display-4.fw-normal Airtable Automation Backup
      p.lead.fw-normal Backup and version your Airtable automations without thinking about it!
      a.btn.btn-outline-secondary(href="#") Coming soon
    .product-device.shadow-sm.d-none.d-md-block
    .product-device.product-device-2.shadow-sm.d-none.d-md-block

  .d-md-flex.flex-md-equal.w-100.my-md-3.ps-md-3
    .bg-dark.me-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
      .my-3.py-3
        h2.display-5 Unlimited Automations
        p.lead And an even wittier subheading.
      .bg-light.shadow-sm.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
    .bg-light.me-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
      .my-3.p-3
        h2.display-5 Script Versioning
        p.lead And an even wittier subheading.
      .bg-dark.shadow-sm.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")

  .d-md-flex.flex-md-equal.w-100.my-md-3.ps-md-3
    .bg-light.me-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
      .my-3.p-3
        h2.display-5 5 Free bases
        p.lead And an even wittier subheading.
      .bg-dark.shadow-sm.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
    .bg-primary.me-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
      .my-3.py-3
        h2.display-5 Full flowchart saved
        p.lead And an even wittier subheading.
      .bg-light.shadow-sm.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
