extends layout

block content
  h1 Paradvo
  p.lead Find your perfect legal service provider
  hr
  .row
    .col-sm-4.practice_area
      h2
      i.fa.fa-home.fa-5x
      | Residential Real Estate
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4.practice_area
      h2
      i.fa.fa-gavel.fa-5x
      | Criminal
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4.practice_area
      h2
      i.fa.fa-users.fa-5x
      | Family
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4.practice_area
      h2
      i.fa.fa-bed.fa-5x
      | Wills
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4.practice_area
      h2
      i.fa.fa-usd.fa-5x
      | Business
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4.practice_area
      h2
      i.fa.fa-pencil-square-o.fa-5x
      | Notary Public
      p
        a.btn.btn-default(href='#', role='button') View details »