extends layout

block content
  h1 Paradvo
  p.lead Find your perfect legal service provider
  hr
  .row
    .col-sm-4.practice_area
      i.fa.fa-home.fa-4x
      h2 Residential Real Estate
    .col-sm-4.practice_area
      i.fa.fa-gavel.fa-4x
      h2 Criminal
    .col-sm-4.practice_area
      i.fa.fa-users.fa-4x
      h2 Family
    .col-sm-4.practice_area
      i.fa.fa-bed.fa-4x
      h2 Wills
    .col-sm-4.practice_area
      i.fa.fa-usd.fa-4x
      h2 Business
    .col-sm-4.practice_area
      i.fa.fa-pencil-square-o.fa-4x
      h2 Notary Public