extends layout

block content
  h1 Public Phone
  p.lead Discover the revolutionary, open-source communication platform designed for everyone.
  hr

  .row
    .col-md-6
      h2 Easy Connectivity
      p Connect effortlessly with a user-friendly interface and reliable service.
      p
        a.btn.btn-success(href='easy-connectivity.html', role='button') Learn More »

    .col-md-6
      h2 Community Support
      p Join our community forums for support, tips, and to share ideas.
      p
        a.btn.btn-info(href='community-support.html', role='button') Join the Discussion »

  .row
    .col-md-6
      h2 Innovative Features
      p Explore cutting-edge features that redefine communication.
      p
        a.btn.btn-warning(href='innovative-features.html', role='button') Explore Features »

    .col-md-6
      h2 Get Started
      p Start using Public Phone today. Simple setup, no hidden fees.
      p
        a.btn.btn-primary(href='get-started.html', role='button') Get Started Now »

  .row.mt-4
    .col-12
      h2 About Public Phone
      p Learn more about our mission to make communication accessible for all.
      p
        a.btn.btn-secondary(href='about-us.html', role='button') About Us »
