extends layout

block content
  h1 Hackathon
  p.lead A stock streaming web applications based on Node.js.
  hr
  .row
    .col-sm-6
      h2 Yahoo Finance
      p Streaming stock information via Yahoo Finance based on React.js, Node.js and MongoDB. 
      p
        a.btn.btn-default(href='#', role='button') View details
