extends layout

block content
  h1 Your social technologies logging page
  a.btn.btn-default(href='#', role='button') Insert New Data! »
  #mod_data.a.btn.btn-default(href='#', role='button') View/Modify Data! »
  hr
            //- h1=user.profile
  .row
    .col-sm-6
      h2 Overview of your activity
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') Go! »
    .col-sm-6
      h2 Popular People
      .list-group
        each val in [1, 2, 3, 4, 5]        
          a.list-group-item(href="#" class="pop-people")
            | Person #{val}
            span.badge.float-right 12
      //- input.typeahead(type='text', autocomplete="off", name='name', id='name', autofocus=true, data-provide="typeahead")
      a.btn.btn-default.float-right(href='#', role='button') View details »
    .col-sm-6
      h2 New Contact
      .form-group
        #datetimepicker1
          label
            | Start Time
          input.form-control.time.start(type="text", name='start_time')
          label
            | End Time
          input.form-control.time.end(type="text", name='end_time')
          #date.input-group.date
            label
              | Date
            input.form-control(type="text")
            span.input-group-addon
            span
        label
          | Name
        input.typeahead(type='text', autocomplete="off", name='name', id='name', autofocus=false, data-provide="typeahead")
      
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') Submit Contact »
    .col-sm-6
      h2 Select Person
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p

        
  script.
    var user = !{JSON.stringify(user).replace(/<\//g, "<\\/")};
    
