doctype html
html(ng-app="Chat", lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title #{title} - Starter Template for Bootstrap
    != css('styles')
    != css('inner_content')
    != js('JQuery')
    != js('Typer')
    != js('events')

    title= title
    link(rel='stylesheet', href='/lib/css/codemirror.css')
    script(src='/lib/js/codemirror.js')
    script(src='/lib/js/mode/javascript.js')
    script(src='/lib/js/mode/htmlmixed.js')
    script(src='/lib/js/mode/python.js')
    script(src='/lib/js/addon/matchbrackets.js')
    script(src='/js/faye.js')
  body
    #wrap
        include partials/navigation
        .container
            include partials/flash
            block content
        include partials/footer

