doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/stylesheets/codemirror.css')
    script(src='/lib/javascripts/codemirror.js')
    script(src='/lib/javascripts/mode/javascript.js')
    script(src='/lib/javascripts/mode/htmlmixed.js')
    script(src='/lib/javascripts/mode/python.js')
    script(src='/lib/javascripts/addon/matchbrackets.js')
    script(src='/lib/javascripts/jquery.js')
    script(src='/javascripts/myscript.js')
  body
    block content