doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/css/codemirror.css')
    script(src='/lib/js/codemirror.js')
    script(src='/lib/js/mode/javascript.js')
    script(src='/lib/js/mode/htmlmixed.js')
    script(src='/lib/js/mode/python.js')
    script(src='/lib/js/addon/matchbrackets.js')
    script(src='/lib/js/jquery.js')
    script(src='/js/myscript.js')
  body
    block content