extends layout

script(src='../bower_components/jquery/dist/jquery.min.js')
script(src='../bower_components/bootstrapvalidator/dist/bootstrapValidator.min.js')
script(src='js/formValidator.js')

block content
  .page-header
    h3 Create a New Event
  form.form-horizontal(action='/new_event', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='title') Event Title
      .col-sm-7
        input.form-control(placeholder='Event Title', autofocus)
    .form-group
      label.col-sm-3.control-label(for='description') Description
      .col-sm-7
        input.form-control(placeholder='Description')
    .form-group
      label.col-sm-3.control-label(for='length') Length of Event
      .col-sm-7
        input.form-control(placeholder='Length of Event')
    .form-group
      label.col-sm-3.control-label(for='users') Invite Users 
      .col-sm-7
        input.form-control(placeholder='Invite Users (separated by commas)')
    .form-group
      label.col-sm-3.control-label(for='location') Location 
      .col-sm-7
        input.form-control(placeholder='Location')
    .form-group
      label.col-sm-3.control-label(for='day') Preferred Date
      .col-sm-7
        input.form-control(placeholder='Preferred Date')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn(type='submit')
          span.ion-person-add
          | Create Event
