extends layout

block content
  body
    #open_pdf.col-sm-6
      iframe(src='http://docs.google.com/gview?url=https://github.com/borishaw/legal-hack/raw/master/uploads/ResidentialLease.pdf&embedded=true', style='width: 560px;height: 865px;margin-top: 30px;', frameborder='0')
    #tag_pdf.col-sm-6
      img(src='https://github.com/borishaw/legal-hack/raw/client_req/uploads/Screen%20Shot%202017-06-03%20at%2010.48.15%20PM.png', style='width: 560px;margin-top: 338px;margin-left: 135px;')
