extends layout

block content
  #open_pdf
    iframe(src='http://docs.google.com/gview?url=https://github.com/borishaw/legal-hack/raw/master/uploads/ResidentialLease.pdf&embedded=true', style='width:718px; height:700px;', frameborder='0')




