
.campaign-page .campaign-item .list-group .list-group-item{
	text-align: left;
}

.campaign-item .thumbnail .caption{
    text-align: center;
}

.heading-row{
    padding:  20px 0;
}
.top-18{
    top:18px;
}
.heading-row{
    h3{
        margin: 0;
    }
}