@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// search/lawyers
span.card-img-top {
  display: block;
  height: 180px;
  width: 130px;
  background-image: url(https://t3.ftcdn.net/jpg/00/57/19/90/240_F_57199025_Sd9yFYqAkNuCC4ifBqTSLRGltRjwYFUr.jpg);
  background-position: -190px -25px;
}

span.card-img-top.female {
  background-position: -40px -25px;
}

span.card-img-top.male {
  background-position: -190px -25px;
}
//

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

#navbar-header {
  height: 4em;
}

#navbar-nav {
  line-height: 100%;
  padding: 0.5em;
}

.logo {
  max-height: 100%;
  padding-top: 0.5em;
  padding-bottom: 0;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

//Home page
// -------------------------
.practice_area {
  border: solid 1px;
  border-radius: 1em;
  margin: .5em;
}

.practice_area_title {
  font-size: 2em;
}