// An opinionated styleguide for writing sane, maintainable and scalable Sass.
// http://sass-guidelin.es

@import "themes/modern/variables";

@import "vendors/bootstrap";
@import "vendors/bootstrap-social";
@import "vendors/font-awesome";
@import "vendors/ionicons";

@import "themes/modern/styles";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  -webkit-font-smoothing: antialiased;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 45px;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^="ion-"] {
  margin-right: 5px;
}