@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-social/bootstrap-social.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';

// Basic Twitch Button CSS
.btn-twitch {
  background-color: #6441a5;
  color: #fff !important;

  &:hover,
  &:active {
    background-color: #503484;
  }
}

.btn-twitter {
  &:hover,
  &:active {
    color: #fff !important;
  }
}

.btn-twitter {
  color: #fff !important;

  &:hover,
  &:active {
    color: #fff !important;
    background-color: #0f97ea;
  }
}

.btn-google {
  &:hover,
  &:active {
    color: #fff !important;
  }
}

.btn-google {
  color: #fff !important;

  &:hover,
  &:active {
    color: #fff !important;
    background-color: #d93b27;
  }
}

.btn-discord {
  background-color: #5865f2;
  color: #fff !important;

  &:hover,
  &:active {
    background-color: #4752c4;
    color: #fff !important;
  }
}

// Add a space after fontawesome icons
.iconpadding {
  padding-right: 6px !important;
}
