extends ../layout

block content
    .page-header
        h3 Create Sports
    form.form-horizontal(id='signup-form', method='POST', action='/createSport')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label(for='name') Name
            .col-sm-7
                input.form-control(type='text', name='name', id='name', placeholder='Enter Sport Name', autofocus, required)
        .form-group
            label.col-sm-3.control-label(for='type') Type
            .col-sm-7
                input.form-control(type='text', name='type', id='type', placeholder='Sport Type', required)
        .form-group
            .col-sm-offset-3.col-sm-7
                button.btn.btn-success(type='submit')
                    i.fa.fa-user-plus
                    | Create

    form(method='post', action='/msports')
        input(type='hidden', name='_csrf', value=_csrf)
        button.btn.btn-success(type='submit')
            i.fa.fa-user-plus
            | CreateSports
    br
    a(href='/list') Show all sports