extends ../layout
block content
    ul
        li= sportList.name
        li= sportList.type

        form.form-horizontal(id='signup-form', method='POST' action='/deletesport')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='name', value=sportList.name)
            .form-group
                .col-sm-offset-3.col-sm-7
                    button.btn.btn-success(type='submit')
                        i.fa.fa-trash-o
                        | Delete
    a(href='/create') Create a new sport
    br
    a(href='/list') Show all sports
