block content
    style.
        #map {
            width: 100%;
            height: 500px;
        }

    .page-header

    h3 Map

    #map

    script.

        var map;

        var parkings = !{JSON.stringify(allPark)}

        function initMap() {
            var bounds = new google.maps.LatLngBounds();
            var myLatLng = {lat: 48.6843900, lng: 6.1849600};
            var markers = [];
            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 7
            });

            parkings.forEach(function (parking) {
                var marker = new google.maps.Marker(
                    {
                        position: {lat: parking.latitude, lng: parking.longitude},
                        icon: {
                            url:'/placeholder.png',
                            scaledSize: new google.maps.Size(24, 24)
                        },
                        map: map,
                        title: parking.name,
                        animation: google.maps.Animation.DROP
                    });
                markers.push(marker);
                console.log(markers)

                var contentString = '<div id="content">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<h1 id="firstHeading" class="firstHeading">' + parking.name + '</h1>' +
                    '<div id="bodyContent">' +
                    '<p>' + parking.adresse + '</p>' +
                    '<p>' + parking.places + '</p>' +
                    '<a href =' + parking.lien + '>Allez voir >> </a>' +
                    '</div>' +
                    '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });
                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });



            });

            google.maps.event.addListenerOnce(map, 'idle', function () {
                $.each(markers, function (i, marker) {
                    bounds.extend(marker.position);
                });
                map.fitBounds(bounds);

            });
        }

script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD1JSwbMYv3Slqd5fFXHRWnezi8ZJnOYnc&callback=initMap')

