extends ../layout

block content
  h2 Get Stock Stream
  hr

  .row
    .col-sm-4
      a(href='/api/yahoo', style='color: #fff')
        .panel.panel-default(style='background-color: #3d048b')
          .panel-body
            img(src='http://i.imgur.com/Cl6WJAu.png', height=40)
            |  Yahoo

