extends ../layout

block content
  h2 API Browser

  ol
    li
      a(href='/api/facebook') Facebook
      small  ⇢ Login Required
    li
      a(href='/api/github') GitHub
      small  ⇢ Login Required
    li
      a(href='/api/twilio') Twilio
    li
      a(href='/api/twitter') Twitter
      small  ⇢ Login Required
