extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.fab.fa-instagram(style='color: #517fa4').fa-sm
      | Instagram API
  .btn-group.d-flex(role='group')
    a.btn.btn-primary(href='http://instagram.com/developer/', target='_blank').w-100
      i.far.fa-check-square.fa-sm
      | Overview
    a.btn.btn-primary(href='https://github.com/teleportd/instagram-node', target='_blank').w-100
      i.fas.fa-laptop.fa-sm
      | Node-Instagram Docs
    a.btn.btn-primary(href='http://instagram.com/developer/endpoints/', target='_blank').w-100
      i.fas.fa-code-branch.fa-sm
      | API Endpoints

  br

  hr
  p.lead
    | My Recent
    strong  Media
  .row
    for image in myRecentMedia
      .col-xs-3
        a.thumbnail(href=image.link)
          img(src=image.images.standard_resolution.url, height='320px')