extends ../layout

block content
  .page-header
    h2
      i.fa.fa-envelope
      | Lob API
  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://lob.com/docs')
      i.fa.fa-check-square-o
      | API Documentation 
    a.btn.btn-primary(href='https://github.com/lob/lob-node', target='_blank')
      i.fa.fa-code
      | Lob Node Docs
    a.btn.btn-primary(href='https://dashboard.lob.com/register', target='_blank')
      i.fa.fa-gear
      | Create API Account
  br
  h3 Delivery routes in 10007
  table.table.table-striped.table-bordered
    thead
      tr
        th Route
        th # of Residential Addresses
        th # of Business Addresses
    tbody
      for route in routes
        tr
          td= route.route
          td= route.residential
          td= route.business
