extends ../layout

block content
  .page-header
    h2
      i.fa.fa-cutlery(style='color: #c32c3d')
      | Ordr.in API
  .btn-group.btn-group-justified
    a.btn.btn-danger(href='https://hackfood.ordr.in/docs/restaurant', target='_blank')
      i.fa.fa-check-square-o
      | API Documentation
    a.btn.btn-danger(href='https://github.com/ordrin/api-node', target='_blank')
      i.fa.fa-laptop
      | Node.js SDK Documentation
    a.btn.btn-danger(href='https://hackfood.ordr.in/explorer/restaurant/delList', target='_blank')
      i.fa.fa-code
      | API Explorer
  br
  h3 Restaurant deliveries near 10007
  table
    thead
      tr
        th Name
        th Address
        th Distance
        th Cuisine
    tbody
      for delivery in deliveries
        tr
          td= delivery.na
          td= delivery.full_addr.addr
          td #{delivery.distance_miles}mi
          td= delivery.cu