extends ../layout
block content
  .page-header
    h2
      | Donate with PayPal
  h3 Thank you for your donation
  if result
    if canceled
      h3 Payment got canceled!
    if success
      h3 Payment got executed successfully!
    a(href='/api/paypal')
      button.btn.btn-primary Make a new payment?
  else
    div
      p You will be Redirected to PayPal and allowed to authorize the payment.
      a(href=approvalUrl)
        button.btn.btn-primary Donate $5