extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.fas.fa-file-invoice-dollar.iconpadding
      | Quickbooks API

  .btn-group.mb-4.d-flex(role='group')
    a.btn.btn-primary.w-100(href='https://developer.intuit.com', target='_blank')
      i.far.fa-check-square.fa-sm.iconpadding
      | Intuit Developer Portal
    a.btn.btn-primary.w-100(href='https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/account', target='_blank')
      i.fas.fa-laptop.fa-sm.iconpadding
      | API Explorer

  .pb-2.mt-2.mb-4
    h3 Customers and Balances

  table.table.table-bordered.table-hover
    thead
      tr
        th Customer
        th Balance
    tbody
      each customer in customers
        tr
          td= customer.DisplayName
          td= customer.Balance
