extends ../layout

block content
  .page-header
    h2
      i.fa.fa-video-camera(style='color: #0099CC')
      | TokBox API

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://tokbox.com/developer/', target='_blank')
      i.fa.fa-check-square-o
      | Developer Center
    a.btn.btn-primary(href='https://tokbox.com/developer/sdks/node/', target='_blank')
      i.fa.fa-check-square-o
      | OpenTok Node SDK
    a.btn.btn-primary(href='https://tokbox.com/developer/sdks/js/', target='_blank')
      i.fa.fa-check-square-o
      | OpenTok JS Client SDK

  br

  .row
    .col-sm-6#video
      | Share the link to this room with other participants
      p
        a(href='tokbox?sessionId='+ sessionId) Room Link 

      | Create a new room
      p
        a(href='tokbox') New Room

    .col-sm-6#video
  
  script(src='https://static.opentok.com/v2/js/opentok.min.js')
  script.
    // Handling all of our errors here by alerting them
    function handleError(error) {
      if (error) {
        alert(error.message);
      }
    }

    var session = OT.initSession("#{apiKey}", "#{sessionId}");

    // Subscribe to a newly created stream
    session.on('streamCreated', function(event) {
      session.subscribe(event.stream, 'video', {
        insertMode: 'append'
      }, handleError);
    });

    // Create a publisher
    var publisher = OT.initPublisher('video', {
      insertMode: 'append'
    }, handleError);

    // Connect to the session
    session.connect("#{token}", function(error) {
      // If the connection is successful, publish to the session
      if (error) {
        handleError(error);
      } else {
        session.publish(publisher, handleError);
      }
    });
