extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.fas.fa-phone(style='color: #f00').fa-sm.iconpadding
      | Twilio API

  .btn-group.d-flex(role='group')
    a.btn.btn-primary(href='http://twilio.github.io/twilio-node/', target='_blank').w-100
      i.far.fa-check-square.fa-sm.iconpadding
      | Twilio Node
    a.btn.btn-primary(href='https://www.twilio.com/docs/sms/debugging-tools', target='_blank').w-100
      i.fas.fa-laptop.fa-sm.iconpadding
      | Twilio Debugging Tools
    a.btn.btn-primary(href='https://www.twilio.com/docs/api/rest', target='_blank').w-100
      i.fas.fa-code-branch.fa-sm.iconpadding
      | REST API

  br

  .row
    .col-sm-6
      form(role='form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.mb-3
          label.control-label Number to text
          input.form-control(type='text', name='number', autofocus)
        .form-group.mb-3
          label.control-label Message
          input.form-control(type='text', name='message')
        button.btn.btn-primary(type='submit')
          i.fas.fa-location-arrow.fa-sm
          | Send