<div class="campaign-page" ng-controller="campaignCtrl">
    <div class="well">
     <a href="#" class="btn btn-success" ng-click="openCreateModal()">Post your Campaign</a>
     <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for campaigns...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
  </div>
 </div>
 <hr>
 <div class="row">
    <div class="col-lg-12">
        <h3>Campaign Requests</h3>
    </div>
</div>

<div class="row">
    <div ng-repeat="campaign in campaigns" class="campaign-item col-md-3 col-sm-6">
        <div class="thumbnail">
            <div class="caption">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object profile-pic" ng-src="{{campaign.user.photoUrl}}" alt="{{campaign.user.username}}"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{campaign.title}}</h4>
                        <p>{{campaign.desc}}</p>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{campaign.followers}}</span>
                        <span>Followers</span>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{campaign.ageRange}}</span>
                        Ages
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{campaign.gender}}</span>
                        Gender
                    </li>
                </ul>
                <p>
                    <a href="#" class="btn btn-primary">Apply Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
</div>
