extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 AI Integration Examples

  .row.g-3
    .col-md-4
      a.text-decoration-none(href='/ai/rag')
        .card.text-white.h-100(style='background-color: #d1e7ff')
          .card-body.d-flex.flex-column.flex-grow-1
            .d-flex.align-items-center.mb-2.flex-wrap.justify-content-center
              img.me-2(src='https://i.imgur.com/h9iDJCr.png', style='height: 30px; width: auto')
              img.me-2(src='https://i.imgur.com/pEjC3Oy.png', style='height: 30px; width: auto')
              img.me-2(src='https://i.imgur.com/mRw7TQs.png', style='height: 15px; width: auto')
              img.me-2(src='https://i.imgur.com/OEVF7HK.png', style='height: 35px; width: auto')
              img(src='https://i.imgur.com/vdNsjZu.png', style='height: 20px; width: auto')
            .text-dark.text-start.w-100
              h5.text-center Retrieval-Augmented Generation (RAG)
              ul.mb-0
                li LangChain pipeline and API integrations
                li Llama 3.3: Together.AI API
                li Embeddings: Hugging Face API
                li Vector and key-value store: MongoDB Atlas

    .col-md-4
      a.text-decoration-none(href='/ai/togetherai-camera')
        .card.text-white.h-100(style='background-color: #e0d1ff')
          .card-body.d-flex.flex-column.flex-grow-1
            .d-flex.align-items-center.mb-2.flex-wrap.justify-content-center
              img.me-2(src='https://i.imgur.com/pEjC3Oy.png', style='height: 30px; width: auto')
              img.me-2(src='https://i.imgur.com/mRw7TQs.png', style='height: 15px; width: auto')
              i.fa.fa-camera.fs-3.text-secondary.ms-2
            .text-dark.text-start.w-100
              h5.text-center Llama Vision Image Analysis + Camera
              ul.mb-0
                li Together.AI Vision API
                li Camera input integration
                li Multimodal inference
    .col-md-4
      a.text-decoration-none(href='/ai/togetherai-classifier')
        .card.text-white.h-100(style='background-color: #d1ffd6')
          .card-body.d-flex.flex-column.flex-grow-1
            .d-flex.align-items-center.mb-2.flex-wrap.justify-content-center
              img.me-2(src='https://i.imgur.com/pEjC3Oy.png', style='height: 30px; width: auto')
              img.me-2(src='https://i.imgur.com/mRw7TQs.png', style='height: 15px; width: auto')
            .text-dark.text-start.w-100
              h5.text-center Llama One-shot Text Classification
              ul.mb-0
                li Together.AI Llama Instruct API
                li Text classification
                li Fast, scalable inference

    .col-md-4
      a.text-decoration-none(href='/ai/openai-moderation')
        .card.text-white.h-100(style='background-color: #fff3cd')
          .card-body.d-flex.flex-column.flex-grow-1
            .d-flex.align-items-center.mb-2.flex-wrap.justify-content-center
              img(src='https://i.imgur.com/EP2SafD.png', style='height: 40px; width: auto')
            .text-dark.text-start.w-100
              h5.text-center OpenAI LLM Input Moderation
              ul.mb-0
                li OpenAI Moderation API
                li Real-time input filtering
                li Safe content enforcement
