name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    name: Execute Tests
    runs-on: ubuntu-latest

    steps:
      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Nodejs Config
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Run Tests
        run: npm run test
        env:
          MONGODB_URI: mongodb://mongo:27017/test
